 <body class="c-login-wrapper">
        <div class="c-login">
            <header class="c-login__head">
                <a class="c-login__brand" href="login.html#!">
                    <%= image_tag "logo-login.svg" %>
                </a>
                <h1 class="c-login__title">Sign Up Today.</h1>
            </header>
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => 'c-login__content'}) do |f| %>
                <div class="c-field u-mb-small">
                    <label class="c-field__label" for="input1">Sign in with your e-mail address</label> 
                    <%= f.email_field :email, autofocus: true, class: 'c-input' %>
                </div>

                <div class="c-field u-mb-small">
                    <label class="c-field__label" for="input2">Password</label> 
                    <%= f.password_field :password, autocomplete: "off", class: 'c-input' %>
                </div>
                <div class="c-field u-mb-small">
                    <label class="c-field__label" for="input2">Password Confirmation</label> 
                    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'c-input' %>
                </div>

                <%= f.submit "Sign up", class: 'c-btn c-btn--info c-btn--fullwidth' %>
              <% end %>

            <footer class="c-login__footer">
              <center>
                Already have an account yet? <%= link_to "sign in", new_user_session_path %>
              </center>
            </footer>
        </div>
    </body>
