   <body class="c-login-wrapper">
        <div class="c-login">
            <header class="c-login__head">
              <center>
                <h2>
                  <%= I18n.t('authy_register_title', {:scope => 'devise'}) %>
                </h2>
              </center>
            </header>
            <div class="c-login__content">
              <%= verify_authy_form do %>
                  <div class="c-field u-mb-small">
                      <label class="c-field__label" for="input1">Enter your token:</label> 
                      <%= text_field_tag :token, "", :autocomplete => :off, :id => 'authy-token', class: 'c-input' %>
                  </div>
                    <label class="c-field__label" for="input1"><%= authy_request_sms_link %></label>
                <%= submit_tag I18n.t('submit_token', {:scope => 'devise'}), :class => 'c-btn c-btn--info c-btn--fullwidth' %>
              <% end %>
            </div>
        </div>
    </body>


