<% if current_user.authy_enabled == false %>
         
<div class="jumbotron">
  <H1><a class="button2" <%= link_to "Verify Number First",user_enable_authy_path , class: "buttton2" , onClick:"window.location.reload()" %></a><h1>
  
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

<% else %>

<% if !@file.errors.empty? %>
  <div class="alert alert-error">
    <ul>
      <% @file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>


   <body class="c-login-wrapper">
        <div class="c-login">
            <header class="c-login__head">
              <center>
                <h2>
                  Upload Files
                </h2>
              </center>
            </header>
            <div class="c-login__content">
            <%= form_for @file, html: { multipart: true } do |f| %>
              <%= f.label :name, class: 'c-field__label' %>
              <%= f.text_field :name, class: 'c-input'  %>
              <%= f.label :attachment, class: 'c-field__label' %>
              <%= f.file_field :attachment, class: 'c-input'  %>
              <%= f.submit "Upload", class: "c-btn c-btn--info c-btn--fullwidth" %>
            <% end %>
            </div>
        </div>
    </body>
    
<% end %>
